{% extends 'base.html' %}
{% load static %}

{% block title %}
    TODO Home
{% endblock title %}

{% block content %}
    <!-- ======= Start TodoList Section ======= -->
    <section id="featured-services" class="featured-services">
        <div id="footer">
            <div class="footer-newsletter">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <h4>Add Todo</h4>
                            <form action="{% url 'todo:addtodo' %}" method="post">
                                {% csrf_token %}
                                <input type="text" name="todo_title" maxlength="100"><input type="submit" value="Add">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" data-aos="fade-up">
            <div class="row justify-content-center">
                <div class="col-md-6 mb-5 mb-lg-0">
                    <ul class="list-group">
                        {% for todo in todo_list %}
                            <li class="list-group-item">{{ todo.todo_title }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End TodoList Section -->
{% endblock %}